  
/* Configuração padrão */

html {
  box-sizing: border-box;
}


body {
  background: #333;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  max-width: 700px;
}

div {
  padding: 20px; 
  border-radius: 10px;  
  margin: 0;
  min-height: 150px;  
  overflow: hidden;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
}

.magenta {
  background-color: magenta;
}


/* exemplos aqui */

/* .primeiro-elemento{
  height: 200px;
}

.segundo-elemento {
  position: relative;
  top: 50px;
} */

.elemento-pai {
  position: relative;
}

/* position absolute: tira do fluxo normal. Se o pai não tiver posição definida se posiciona em relação ao body */
.elemento-filho {
  position: absolute;
  top:0;
}